/* Aidan Lapenta, CSC 242, Fall 2022, Assignment 5 */

h1:hover {
	color: firebrick;
}

thead {
	background-color: teal;
	color: white;	
}

tbody tr:nth-child(even) {
	background-color: peachpuff;
}

table, th, td {
	border: 1px solid;
	border-collapse: collapse;
	padding: 5px 5px 5px 5px;
	text-align: center
}
